@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  padding: 3rem; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 3rem; }
  .heading-primary--main {
    text-align: center;
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 2.5rem;
    animation-name: moveInLeft;
    animation-duration: 1.5s; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1.5rem;
    animation-name: moveInRight;
    animation-duration: 1.5s; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #b7b7b8, #626567);
  display: inline-block;
  letter-spacing: .2rem;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.5s ease; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(20deg); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #626567; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(last-child) {
    margin-bottom: 4rem; }

.u-text-center {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-med {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-big {
  margin-bottom: 8rem !important; }

.u-margin-top-med {
  margin-bottom: 4rem !important; }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -19rem; }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(229, 231, 233, 0.8), rgba(98, 101, 103, 0.8)), url("https://mdbootstrap.com/img/Photos/Slides/img%20(45).jpg");
  background-size: cover;
  transform: skewY(7deg);
  margin-top: -9rem; }
  .section-features > * {
    transform: skewY(-7deg); }

.section-tours {
  background-color: #f7f7f7;
  padding: 15rem 0;
  margin-top: -11rem;
  text-align: center; }

.section-stories {
  position: relative;
  padding: 15rem 0; }

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #E5E7E9, #626567); }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.7) 50%, transparent 50%), url("./img/booking-img-1.jpg");
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(98, 101, 103, 0.15);
  height: 50rem; }
  .book___form {
    width: 50%;
    padding: 6rem; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.6rem;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 3.5rem;
  transition: all .5s;
  font-weight: 300;
  letter-spacing: 0.5rem;
  outline: none; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }

.btn--gray {
  background-color: #626567;
  color: #fff; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #626567;
  display: inline-block;
  text-decoration: none;
  border-bottom: 0.1rem solid #626567;
  padding: .3rem;
  transition: all .6s ease; }

.btn-text:hover {
  background-color: #626567;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transform: translateY(2px); }

.composition {
  position: relative;
  outline-offset: 1rem; }
  .composition___photo {
    max-width: 55%;
    box-shadow: 0 1rem 2rem #626567;
    position: absolute;
    transition: all 0.6s;
    z-index: 10;
    outline-offset: 1rem; }
    .composition___photo--p1 {
      top: -1rem; }
    .composition___photo--p2 {
      top: 5rem;
      right: 0rem; }
    .composition___photo--p3 {
      top: 15rem;
      left: 5rem; }
    .composition___photo:hover {
      transform: scale(1.05);
      box-shadow: 0 2rem 3rem #626567;
      outline: 1rem solid #626567;
      z-index: 20; }
  .composition:hover .composition___photo:not(:hover) {
    transform: scale(0.95); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 0.3rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform .6s; }
  .feature-box___icon {
    font-size: 6rem;
    margin-bottom: 2rem;
    background-image: linear-gradient(to right, #b7b7b8, #626567);
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.card {
  perspective: 150rem;
  -webkit-perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem; }
  .card___side {
    height: 50rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 1rem;
    box-shadow: 0 0.3rem 2rem rgba(0, 0, 0, 0.15);
    overflow: hidden; }
    .card___side--front {
      background-color: #fff; }
    .card___side--back {
      transform: rotateY(180deg); }
      .card___side--back--1 {
        background-image: linear-gradient(to right bottom, #ffb900, #626567); }
      .card___side--back--2 {
        background-image: linear-gradient(to right bottom, #2998ff, #626567); }
      .card___side--back--3 {
        background-image: linear-gradient(to right bottom, #db43fa, #626567); }
  .card:hover .card___side--front {
    transform: rotateY(-180deg); }
  .card:hover .card___side--back {
    transform: rotateY(0); }
  .card___picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%); }
    .card___picture--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #626567), url(./img/about-img-1.jpg); }
    .card___picture--2 {
      background-image: linear-gradient(to right bottom, #2998ff, #626567), url(./img/about-img-2.jpg); }
    .card___picture--3 {
      background-image: linear-gradient(to right bottom, #db43fa, #626567), url(./img/about-img-3.jpg); }
  .card___heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-align: right;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 10rem;
    right: 2rem;
    width: 75%; }
  .card___heading--span {
    padding: 1rem 2rem;
    -webkit-box-decoration-break: clone; }
    .card___heading--span--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.5), rgba(98, 101, 103, 0.5)); }
    .card___heading--span--2 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.5), rgba(98, 101, 103, 0.5)); }
    .card___heading--span--3 {
      background-image: linear-gradient(to right bottom, rgba(219, 67, 250, 0.5), rgba(98, 101, 103, 0.5)); }
  .card___details {
    padding: 3rem; }
    .card___details ul {
      margin: 0 auto;
      list-style: none;
      width: 80%; }
      .card___details ul li {
        text-transform: uppercase;
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card___details ul li:not(:last-child) {
          border-bottom: 1px solid #777; }
  .card___cta {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    text-align: center;
    transform: translate(-50%, -50%); }
  .card___price-box {
    text-align: center;
    color: white;
    margin-bottom: 8rem; }
  .card___price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card___price-value {
    font-size: 6rem;
    font-weight: 100; }

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 0.3rem;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  transform: skewX(-15deg); }
  .story:not(:last-child) {
    margin-bottom: 10rem; }
  .story___shape {
    width: 15rem;
    height: 15rem;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    -webkit-shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(15deg);
    position: relative;
    backface-visibility: hidden; }
  .story___image {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    transition: all 0.6s ease; }
  .story___text {
    transform: skewX(15deg); }
  .story___caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #fff;
    text-transform: uppercase;
    font-size: 1.6rem;
    text-align: center;
    opacity: 0;
    transition: all 0.6s ease;
    backface-visibility: hidden; }
  .story:hover .story___caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story___image {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .3;
  overflow: hidden; }
  .bg-video___content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.form___input {
  font-family: inherit;
  color: inherit;
  font-size: 1.6rem;
  padding: 1.5rem 2rem;
  border-radius: .2rem;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: .3rem solid transparent;
  width: 100%;
  transition: all .6s; }
  .form___input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    border-bottom: 0.3rem solid #626567; }
  .form___input::-webkit-input-placeholder {
    color: #5a5a5a; }
  .form___input:focus:invalid {
    border-bottom: 0.3rem solid #ff7730; }

.form___label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .6s; }

.form___input:placeholder-shown + .form___label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form___group:not(:last-child) {
  margin-bottom: 3rem; }

.form___radio-group {
  width: 40%;
  display: inline-block;
  margin-bottom: 2rem; }

.navigation___checkbox {
  display: none; }

.navigation___button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }

.navigation___background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#E5E7E9, #626567);
  z-index: 1000;
  transition: transform .6s; }

.navigation___nav {
  height: 100vh;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.86, 0, 0.07, 1); }

.navigation___list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center; }

.navigation___item {
  margin: 1rem; }

.navigation___link:link, .navigation___link:visited {
  display: inline-block;
  font-size: 3rem;
  padding: 1rem 2rem;
  font-weight: 300;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 230%;
  transition: all .6s; }

.navigation___link:hover, .navigation___link:active {
  color: #626567;
  background-position: 100%;
  transform: translateX(1rem); }

.navigation___checkbox:checked ~ .navigation___background {
  transform: scale(80); }

.navigation___checkbox:checked ~ .navigation___nav {
  opacity: 1;
  width: 100%; }

.navigation___icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation___icon, .navigation___icon::before, .navigation___icon::after {
    width: 3rem;
    height: 2px;
    background-color: #252525;
    display: inline-block; }
  .navigation___icon::before, .navigation___icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation___icon::before {
    top: -.8rem; }
  .navigation___icon::after {
    top: .8rem; }

.navigation___button:hover .navigation___icon::before {
  top: -1rem; }

.navigation___button:hover .navigation___icon::after {
  top: 1rem; }

.navigation___checkbox:checked + .navigation___button .navigation___icon {
  background-color: transparent; }

.navigation___checkbox:checked + .navigation___button .navigation___icon::before {
  transform: rotate(135deg);
  top: 0; }

.navigation___checkbox:checked + .navigation___button .navigation___icon::after {
  top: 0;
  transform: rotate(-135deg); }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(229, 231, 233, 0.8), rgba(98, 101, 103, 0.8)), url("https://mdbootstrap.com/img/Photos/Slides/img%20(35).jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 0, 100% 100%, 0 80%);
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 5rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  max-width: 114rem;
  margin: 0 auto;
  padding: 2rem; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row:after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 5rem; }
  .row .col-1-of-2 {
    width: calc((100% - 5rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - (2* 5rem)) / 3); }
  .row .col-2-of-3 {
    width: calc(2*((100% - 2* 5rem) / 3) + 5rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3* 5rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2*(100% -  5rem) / 4); }
  .row .col-3-of-4 {
    width: calc(3*((100% - 3 * 5rem) / 4) + 2* 5rem); }

.footer {
  background-color: #252525;
  color: #fff;
  padding: 10rem 0;
  font-size: 1.6rem; }
  .footer___logo-box {
    text-align: center;
    margin-bottom: 5rem; }
  .footer___logo {
    width: 15rem;
    height: auto; }
  .footer___navigation {
    border-top: 1px solid #626567;
    display: inline-block; }
  .footer___list {
    list-style: none; }
  .footer___items {
    display: inline-block; }
    .footer___items:not(:last-child) {
      margin-right: 2rem; }
  .footer___link:link, .footer___link:visited {
    color: #f7f7f7;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 1.5rem;
    transition: all .6s; }
  .footer___link:hover, .footer___link:active {
    color: #02daf7;
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.4);
    transform: rotate(15deg); }
  .footer___copywrite {
    border-top: 1px solid #626567;
    padding-top: 1rem;
    font-size: 1.6rem;
    letter-spacing: .1rem; }
