// colors
$color-primary: #BDC3C7;

$color-primary-light: #E5E7E9;
$color-primary-med:#b7b7b8;
$color-primary-dark: #626567;

$color-gray-dark:#777;
$color-white: #fff;
$color-black:#000;

$color-gray-light-1:#f7f7f7;


// for grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 5rem;