.btn{
    &:link,&:visited{
        text-transform: uppercase;
        text-decoration: none;
        font-size: 1.6rem;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 3.5rem;
        transition: all .5s;
        font-weight: 300;
        letter-spacing: 0.5rem;
    }
    &:hover{
        transform: translateY(-0.3rem);
        box-shadow: 0 1rem 2rem rgba($color-black,.2);
    }
    &:active{
        transform: translateY(-0.1rem);
        box-shadow: 0 0.5rem 1rem rgba($color-black,.2);
    }
    &--white{
        background-color: $color-white;
        color: $color-gray-dark;
    }
    &--gray{
        background-color: $color-primary-dark;
        color: $color-white;
    }
}
.btn-text{
    &:link, &:visited{
        font-size: 1.6rem;
        color: $color-primary-dark;
        display: inline-block;
        text-decoration: none;
        border-bottom: .1rem solid $color-primary-dark;
        padding: .3rem;
        transition: all .6s ease;
    }
    &:hover{
        background-color: $color-primary-dark;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black,.20);
        transform: translateY(-2px);
    }
    &:active{
        box-shadow: 0 .5rem 1rem rgba($color-black,.20);
        transform: translateY(2px);
    }
}